*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.top-bar{
    background-color: white;
    z-index: 100;
    width: 100%;
    height: 4.5em;
    height: fit-content;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.top-bar a{
    text-decoration: none;
    margin: 1.5em;
    color: black;
    display: inline-block;
    width: max-content;
}
.top-bar img{
    height: 1.5em;
    margin-right: 1.5em;
}

.top-bar-left{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 1em;
}
.top-bar-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1em;
}

.start{
    background-color: rgb(0,97,255);
    text-decoration: none;
    color: white !important;
    padding: .5em 1em;
    display: inline-block;
    width: max-content;
}

header{
    padding-top: 8em;
    background-color: rgb(180,208,231);
}

header h1{
    font-size: 5em;
    width: 60%;
    margin: .5em auto;
}

.header-text{
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.header-text span{
    width: 30%;
    margin-bottom: 2em; 
    flex-basis: 30%;
}
.header-text a{
    margin-bottom: 2em;
    flex-basis: 30%;
}
.header-text img{
    float: right;
    position: absolute;
    right: 0;
    width: 50em;
    flex-basis: 70%;
}
.header-text i{
    font-size: 3em;
    margin-bottom: 1em;
    flex-basis: 30%;
}

.main-1{
    width: 60%;
    margin: 10em auto 3em auto;   
}

.main-1 h2{
    font-size: 3em;
    margin-bottom: 1em;
}

.main-1 span{
    margin-right: 3em;
    margin-bottom: 1em;
}

.columns{
    width: 60%;
    margin: 0 auto 3em auto;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.column{
    width: 30%;
    border: 1px solid black;
}
.column-title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    height: 3em;
}

.column-text{
    padding: 2.5em;
    display: flex;
    flex-direction: column;
}

.column h3{
    font-size: 1.5em;
    padding-bottom: 1em;
}

.price{
    font-weight: bold;
    display: block;
    padding-bottom: .7em;
}
.under-price{
    padding-bottom: 3em;
    display: block;
}

.column i{
    font-size: 1.1em;
    padding-right: .5em;
}
.offers{
    display: flex;
    padding-bottom: 1em;
}

.try{
    width: 100%;
    padding: 1em auto;
    text-align: center;
    margin-top: 3em;
    margin-bottom: 2em;
}

.buy{
    margin-bottom: 2em;
}

.column hr{
    width: 20%;
    margin-bottom: 2em;
}

.highpoints{
    font-weight: bold;
    margin-bottom: 2em;
}
.highpoint i{
    color: rgb(0,97,255);
}

.wide{
    width: 60%;
    margin: auto;
    border: 1px solid black;
    margin-bottom: 2em;
}

.wide .column-text{
    position: relative;
}
.wide .under-price{
width: 60%;
padding-top: 3em;
padding-bottom: 0;
}

.wide .start{
    padding: .5em 2em;
    position: absolute;
    right: 2em;
    top: 2em;
}

.main-2{
    width: 60%;
    margin: 10em auto 3em auto;  
    display: flex; 
}

.main-2 img{
    width: 60%;
}

.main-2-text{
    padding: 2em;
}
.main-2 h3{
    font-size: 2em;
    margin-bottom: 1em;
}
.main-2 span{
    font-size: 1.3em;
}
.main-2 a{
    width: fit-content;
    font-size: 1.5em;
    background-color: white;
    color:black;
    text-decoration: none;
    padding: .5em 1em;
    border: 1px solid black;
    white-space: nowrap;
    display: block;
    margin-top: 2em;
}

.main-3{
    width: 60%;
    margin: 10em auto;
}

.main-3-section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.main-3 h2{
    font-size: 3em;
    margin-bottom: 1em;
}

.operation{
    width: 30%;
    display: flex;
    flex-direction: column;
    padding-bottom: 2em;
}
.operation img{
    width: 100%;
}
.operation h3{
    font-size: 2em;
    margin-bottom: 1em;
}
.operation span{
    font-size: 1.2em;
}

.main-4-title{
    width: 60%;
    margin: 0 auto;
}
.main-4-title h2{
    width: 50%;
    font-size: 2em;
    padding-bottom: 1em;
}
.main-4{
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 10em;
}
.sponsor{
    width: calc(100%/6);
    height: 50%;
    text-align: center;
    display: flex;
    align-items: center;
}
.sponsor img{
    width: 60%;
    margin: auto;
    filter: invert(100%);
}
.big-sponsor{
    width: calc(100%/3);
    height: 100%;
    padding: 3em;
}

.big-sponsor img{
    width: 50%;
    margin-bottom: 3em;
}

.big-sponsor hr{
    width: 20%;
    margin-bottom: 3em;
}

.sponsor-1{
    background-color: #a2d39b;
    border: 1em solid #d1e9cd;
}
.sponsor-2{
    background-color: #0093ce;
}
.sponsor-3{
    background-color: #61082b;
}
.sponsor-4{
    background-color: #ff1c1c;
}
.sponsor-5{
    background-color: #d5001f;
}
.sponsor-6{
    background-color: #0d2481;
}
.sponsor-7{
    background-color: #b4d0e7;
}
.sponsor-8{
    background-color: #ffd830;
}

.bring{
    width: 100%;
    background-color: #b4d0e7;
    padding: 3em;
}

.bring-text{
    width: 60%;
    margin: 5em auto;
    display: flex;
    justify-content: space-between;
}
.bring-text h2{
    font-size: 3em;
    color: #61082b;
    width: 50%;
}

.bring-text a{
    background-color: white;
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    padding: .5em 3em;
    height: fit-content;
}

.faq{
    width: 60%;
    margin: 0 auto;
    padding: 5em 0;
    font-weight: bold;
    font-size: 1.3em;
}

.faq h2{
    font-size: 2em;
    margin-bottom: 2em;
}
.faq hr{
    margin: 2em 0;
}

.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer{
    background-color: black;
}

.footer-container{
    width: 60%;
    margin: 0 auto;
    padding: 5em 0;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section{
    width: 20%;
}
footer ul{
    list-style: none;
}

footer h3{
    font-size: 1.7em;
    margin-bottom: 1.5em;
}
footer li{
    margin-bottom: 1em;
}
footer hr{
    width: 10%;
    border-bottom: 1px solid white;
    margin: 4em 0 0 0;
}

.language{
    width: 60%;
    margin: 0 auto;
    align-self: flex-start;
    color: white;
    padding-bottom: 5em;
}
.language span{
    margin: 0 .5em;
}
